<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <script src="/benchmark/js/jquery.min.js"></script>
  <script type="text/javascript" src="/benchmark/js/js.cookie.js"></script>
  <script src="/benchmark/js/testsuiteutils.js"></script>
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  <title>BenchmarkTest01192</title>
</head>
<body>
<form action="/benchmark/xpathi-01/BenchmarkTest01192" method="POST" id="FormBenchmarkTest01192" autocomplete="off">
 <div><label>Select your habits and edit the parameter [name,value]:</label></div><br>
	<div><input type="checkbox" name="BenchmarkTest01192" value="2222" checked >Reading. [BenchmarkTest01192, 2222]</div>
	<div><input type="checkbox" name="BenchmarkTest01192" value="Movies" >Movies. [BenchmarkTest01192, Movies]</div>
	<div><input type="checkbox" name="BenchmarkTest01192" value="Writing" >Writing. [BenchmarkTest01192, Writing]</div>
	<div><input type="checkbox" name="BenchmarkTest01192" value="Singing" >Singing. [BenchmarkTest01192, Singing]</div>
	<div><label>Parameter foo, value:</label><input type="text" id="foo" name="foo" value="bar" ></div><br>
	<div><input type="submit" value="Submit" ></div>
 </form>
 
</body>
</html>
