<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <script src="/benchmark/js/jquery.min.js"></script>
  <script type="text/javascript" src="/benchmark/js/js.cookie.js"></script>
  <script src="/benchmark/js/testsuiteutils.js"></script>
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  <title>BenchmarkTest01258</title>
</head>
<body>
<form action="/benchmark/deserialization-00/BenchmarkTest01258" method="POST" id="FormBenchmarkTest01258" autocomplete="off">
    <p>Please make your car selection, and edit the value to be sent [value]:</p>
	<select name="BenchmarkTest01258" multiple>
	    <option value="gASVNwAAAAAAAACMCF9fbWFpbl9flIwOc2FmZV90b19waWNrbGWUk5QpgZR9lCiMAWGUjANmb2-UjAFilEtjdWIu" selected>Audi. [gASVNwAAAAAAAACMCF9fbWFpbl9flIwOc2FmZV90b19waWNrbGWUk5QpgZR9lCiMAWGUjANmb2-UjAFilEtjdWIu]</option>
	    <option value="Ford">Ford. [Ford]</option>
	    <option value="Opel">Opel. [Opel]</option>
        <option value="Subaru">Subaru. [Subaru]</option>
	</select><br><br>
    <input type="submit" value="Submit" >
</form>
</body>
</html>
