<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <script src="/benchmark/js/jquery.min.js"></script>
  <script type="text/javascript" src="/benchmark/js/js.cookie.js"></script>
  <script src="/benchmark/js/testsuiteutils.js"></script>
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  <title>BenchmarkTest00696</title>
</head>
<body>
<form action="/benchmark/trustbound-00/BenchmarkTest00696" method="POST" id="FormBenchmarkTest00696" autocomplete="off">
	<div><label>Please explain your answer:</label></div>
	<br>
	<div><textarea rows="4" cols="50" id="BenchmarkTest00696Area" name="BenchmarkTest00696Area"></textarea></div>
	<div><label>Any additional note for the reviewer:</label></div>
	<div><input type="text" id="answer" name="answer" ></div>
	<br>
	<div><label>An AJAX request will be sent with a header named <input type="text" id="BenchmarkTest00696" name="BenchmarkTest00696" value="my_user_id" class="safe" >
	and value of BenchmarkTest00696.</label></div>
	<div><input type="button" id="login-btn" value="Login" method="submitHeaderNamesForm" testcase="BenchmarkTest00696" ></div>
</form>
<div id="ajax-form-msg1"><pre><code class="prettyprint" id="code"></code></pre></div>
</body>
</html>
