<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <script src="/benchmark/js/jquery.min.js"></script>
  <script type="text/javascript" src="/benchmark/js/js.cookie.js"></script>
  <script src="/benchmark/js/testsuiteutils.js"></script>
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  <title>BenchmarkTest00611</title>
</head>
<body>
<form action="/benchmark/weakrand-01/BenchmarkTest00611" method="POST" id="FormBenchmarkTest00611" autocomplete="off">
	<div><label>Please explain your answer:</label></div>
	<br>
	<div><textarea rows="4" cols="50" id="BenchmarkTest00611Area" name="BenchmarkTest00611Area"></textarea></div>
	<div><label>Any additional note for the reviewer:</label></div>
	<div><input type="text" id="answer" name="answer" ></div>
	<br>
	<div><label>An AJAX request will be sent with a header named BenchmarkTest00611 and value:</label> <input type="text" id="BenchmarkTest00611" name="BenchmarkTest00611" value="whatever" class="safe" ></div>

	<div><input type="button" id="login-btn" value="Login" method="submitHeaderForm" testcase="BenchmarkTest00611" ></div>
</form>
<div id="ajax-form-msg1"><pre><code class="prettyprint" id="code"></code></pre></div>
</body>
</html>
