<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OWASP Benchmark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/benchmark/css/normalize.css">
  <link rel="stylesheet" href="/benchmark/css/skeleton.css">
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  
  <script src="/benchmark/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="twelve columns">
				<h1>OWASP Benchmark XML eXternal Entity Injection Test Case Index</h1>
			</div>
		</div>
		<div class="row">
			<div class="eight columns">
			<ul>
<li><a href='xxe-00/BenchmarkTest00017'>BenchmarkTest00017</a></li>
<li><a href='xxe-00/BenchmarkTest00109.html?BenchmarkTest00109=SafeText'>BenchmarkTest00109</a></li>
<li><a href='xxe-00/BenchmarkTest00110.html?BenchmarkTest00110=SafeText'>BenchmarkTest00110</a></li>
<li><a href='xxe-00/BenchmarkTest00111.html?BenchmarkTest00111=SafeText'>BenchmarkTest00111</a></li>
<li><a href='xxe-00/BenchmarkTest00220.html?BenchmarkTest00220=SafeText'>BenchmarkTest00220</a></li>
<li><a href='xxe-00/BenchmarkTest00221.html?BenchmarkTest00221=SafeText'>BenchmarkTest00221</a></li>
<li><a href='xxe-00/BenchmarkTest00222.html?BenchmarkTest00222=SafeText'>BenchmarkTest00222</a></li>
<li><a href='xxe-00/BenchmarkTest00223.html?BenchmarkTest00223=SafeText'>BenchmarkTest00223</a></li>
<li><a href='xxe-00/BenchmarkTest00311.html?BenchmarkTest00311=SafeText'>BenchmarkTest00311</a></li>
<li><a href='xxe-00/BenchmarkTest00398.html?BenchmarkTest00398=SafeText'>BenchmarkTest00398</a></li>
<li><a href='xxe-00/BenchmarkTest00399.html?BenchmarkTest00399=SafeText'>BenchmarkTest00399</a></li>
<li><a href='xxe-00/BenchmarkTest00400.html?BenchmarkTest00400=SafeText'>BenchmarkTest00400</a></li>
<li><a href='xxe-00/BenchmarkTest00401.html?BenchmarkTest00401=SafeText'>BenchmarkTest00401</a></li>
<li><a href='xxe-00/BenchmarkTest00402.html?BenchmarkTest00402=SafeText'>BenchmarkTest00402</a></li>
<li><a href='xxe-00/BenchmarkTest00403.html?BenchmarkTest00403=SafeText'>BenchmarkTest00403</a></li>
<li><a href='xxe-00/BenchmarkTest00404.html?BenchmarkTest00404=SafeText'>BenchmarkTest00404</a></li>
<li><a href='xxe-00/BenchmarkTest00482.html?BenchmarkTest00482=SafeText'>BenchmarkTest00482</a></li>
<li><a href='xxe-00/BenchmarkTest00483.html?BenchmarkTest00483=SafeText'>BenchmarkTest00483</a></li>
<li><a href='xxe-00/BenchmarkTest00484.html?BenchmarkTest00484=SafeText'>BenchmarkTest00484</a></li>
<li><a href='xxe-00/BenchmarkTest00485.html?BenchmarkTest00485=SafeText'>BenchmarkTest00485</a></li>
<li><a href='xxe-00/BenchmarkTest00586.html?BenchmarkTest00586=SafeText'>BenchmarkTest00586</a></li>
<li><a href='xxe-00/BenchmarkTest00587.html?BenchmarkTest00587=SafeText'>BenchmarkTest00587</a></li>
<li><a href='xxe-00/BenchmarkTest00728.html?BenchmarkTest00728=SafeText'>BenchmarkTest00728</a></li>
<li><a href='xxe-00/BenchmarkTest00826.html?BenchmarkTest00826=SafeText'>BenchmarkTest00826</a></li>
<li><a href='xxe-00/BenchmarkTest00906.html?BenchmarkTest00906=SafeText'>BenchmarkTest00906</a></li>
<li><a href='xxe-00/BenchmarkTest00907.html?BenchmarkTest00907=SafeText'>BenchmarkTest00907</a></li>
<li><a href='xxe-00/BenchmarkTest01009.html?BenchmarkTest01009=SafeText'>BenchmarkTest01009</a></li>
<li><a href='xxe-00/BenchmarkTest01114.html?BenchmarkTest01114=SafeText'>BenchmarkTest01114</a></li>
<li><a href='xxe-00/BenchmarkTest01193.html?BenchmarkTest01193=SafeText'>BenchmarkTest01193</a></li>
<li><a href='xxe-00/BenchmarkTest01194.html?BenchmarkTest01194=SafeText'>BenchmarkTest01194</a></li>
<li><a href='xxe-00/BenchmarkTest01275.html?BenchmarkTest01275=SafeText'>BenchmarkTest01275</a></li>
<li><a href='xxe-00/BenchmarkTest01296.html?BenchmarkTest01296=SafeText'>BenchmarkTest01296</a></li>
				<!-- @@LINK@@ -->
			</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
