<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <script src="/benchmark/js/jquery.min.js"></script>
  <script type="text/javascript" src="/benchmark/js/js.cookie.js"></script>
  <script src="/benchmark/js/testsuiteutils.js"></script>
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  <title>BenchmarkTest01132</title>
</head>
<body>
<form action="/benchmark/weakrand-03/BenchmarkTest01132" method="POST" id="FormBenchmarkTest01132" autocomplete="off">
 <div><label>Select your habits and edit the parameter [name,value]:</label></div><br>
	<div><input type="checkbox" name="BenchmarkTest01132" value="whatever" checked >Reading. [BenchmarkTest01132, whatever]</div>
	<div><input type="checkbox" name="BenchmarkTest01132" value="Movies" >Movies. [BenchmarkTest01132, Movies]</div>
	<div><input type="checkbox" name="BenchmarkTest01132" value="Writing" >Writing. [BenchmarkTest01132, Writing]</div>
	<div><input type="checkbox" name="BenchmarkTest01132" value="Singing" >Singing. [BenchmarkTest01132, Singing]</div>
	<div><label>Parameter foo, value:</label><input type="text" id="foo" name="foo" value="bar" ></div><br>
	<div><input type="submit" value="Submit" ></div>
 </form>
 
</body>
</html>
