<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OWASP Benchmark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/benchmark/css/normalize.css">
  <link rel="stylesheet" href="/benchmark/css/skeleton.css">
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  
  <script src="/benchmark/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="twelve columns">
				<h1>OWASP Benchmark Insecure Deserialization Test Case Index</h1>
			</div>
		</div>
		<div class="row">
			<div class="eight columns">
			<ul>
<li><a href='deserialization-00/BenchmarkTest00082.html?BenchmarkTest00082=SafeText'>BenchmarkTest00082</a></li>
<li><a href='deserialization-00/BenchmarkTest00083.html?BenchmarkTest00083=SafeText'>BenchmarkTest00083</a></li>
<li><a href='deserialization-00/BenchmarkTest00084.html?BenchmarkTest00084=SafeText'>BenchmarkTest00084</a></li>
<li><a href='deserialization-00/BenchmarkTest00085.html?BenchmarkTest00085=SafeText'>BenchmarkTest00085</a></li>
<li><a href='deserialization-00/BenchmarkTest00179.html?BenchmarkTest00179=SafeText'>BenchmarkTest00179</a></li>
<li><a href='deserialization-00/BenchmarkTest00181.html?BenchmarkTest00181=SafeText'>BenchmarkTest00181</a></li>
<li><a href='deserialization-00/BenchmarkTest00182.html?BenchmarkTest00182=SafeText'>BenchmarkTest00182</a></li>
<li><a href='deserialization-00/BenchmarkTest00183.html?BenchmarkTest00183=SafeText'>BenchmarkTest00183</a></li>
<li><a href='deserialization-00/BenchmarkTest00277.html?BenchmarkTest00277=SafeText'>BenchmarkTest00277</a></li>
<li><a href='deserialization-00/BenchmarkTest00279.html?BenchmarkTest00279=SafeText'>BenchmarkTest00279</a></li>
<li><a href='deserialization-00/BenchmarkTest00280.html?BenchmarkTest00280=SafeText'>BenchmarkTest00280</a></li>
<li><a href='deserialization-00/BenchmarkTest00281.html?BenchmarkTest00281=SafeText'>BenchmarkTest00281</a></li>
<li><a href='deserialization-00/BenchmarkTest00282.html?BenchmarkTest00282=SafeText'>BenchmarkTest00282</a></li>
<li><a href='deserialization-00/BenchmarkTest00367.html?BenchmarkTest00367=SafeText'>BenchmarkTest00367</a></li>
<li><a href='deserialization-00/BenchmarkTest00371.html?BenchmarkTest00371=SafeText'>BenchmarkTest00371</a></li>
<li><a href='deserialization-00/BenchmarkTest00461.html?BenchmarkTest00461=SafeText'>BenchmarkTest00461</a></li>
<li><a href='deserialization-00/BenchmarkTest00462.html?BenchmarkTest00462=SafeText'>BenchmarkTest00462</a></li>
<li><a href='deserialization-00/BenchmarkTest00463.html?BenchmarkTest00463=SafeText'>BenchmarkTest00463</a></li>
<li><a href='deserialization-00/BenchmarkTest00467.html?BenchmarkTest00467=SafeText'>BenchmarkTest00467</a></li>
<li><a href='deserialization-00/BenchmarkTest00552.html?BenchmarkTest00552=SafeText'>BenchmarkTest00552</a></li>
<li><a href='deserialization-00/BenchmarkTest00553.html?BenchmarkTest00553=SafeText'>BenchmarkTest00553</a></li>
<li><a href='deserialization-00/BenchmarkTest00559.html?BenchmarkTest00559=SafeText'>BenchmarkTest00559</a></li>
<li><a href='deserialization-00/BenchmarkTest00560.html?BenchmarkTest00560=SafeText'>BenchmarkTest00560</a></li>
<li><a href='deserialization-00/BenchmarkTest00645.html?BenchmarkTest00645=SafeText'>BenchmarkTest00645</a></li>
<li><a href='deserialization-00/BenchmarkTest00646.html?BenchmarkTest00646=SafeText'>BenchmarkTest00646</a></li>
<li><a href='deserialization-00/BenchmarkTest00647.html?BenchmarkTest00647=SafeText'>BenchmarkTest00647</a></li>
<li><a href='deserialization-00/BenchmarkTest00648.html?BenchmarkTest00648=SafeText'>BenchmarkTest00648</a></li>
<li><a href='deserialization-00/BenchmarkTest00649.html?BenchmarkTest00649=SafeText'>BenchmarkTest00649</a></li>
<li><a href='deserialization-00/BenchmarkTest00698.html?BenchmarkTest00698=SafeText'>BenchmarkTest00698</a></li>
<li><a href='deserialization-00/BenchmarkTest00699.html?BenchmarkTest00699=SafeText'>BenchmarkTest00699</a></li>
<li><a href='deserialization-00/BenchmarkTest00700.html?BenchmarkTest00700=SafeText'>BenchmarkTest00700</a></li>
<li><a href='deserialization-00/BenchmarkTest00701.html?BenchmarkTest00701=SafeText'>BenchmarkTest00701</a></li>
<li><a href='deserialization-00/BenchmarkTest00702.html?BenchmarkTest00702=SafeText'>BenchmarkTest00702</a></li>
<li><a href='deserialization-00/BenchmarkTest00789.html?BenchmarkTest00789=SafeText'>BenchmarkTest00789</a></li>
<li><a href='deserialization-00/BenchmarkTest00790.html?BenchmarkTest00790=SafeText'>BenchmarkTest00790</a></li>
<li><a href='deserialization-00/BenchmarkTest00794.html?BenchmarkTest00794=SafeText'>BenchmarkTest00794</a></li>
<li><a href='deserialization-00/BenchmarkTest00795.html?BenchmarkTest00795=SafeText'>BenchmarkTest00795</a></li>
<li><a href='deserialization-00/BenchmarkTest00796.html?BenchmarkTest00796=SafeText'>BenchmarkTest00796</a></li>
<li><a href='deserialization-00/BenchmarkTest00877.html?BenchmarkTest00877=SafeText'>BenchmarkTest00877</a></li>
<li><a href='deserialization-00/BenchmarkTest00980.html?BenchmarkTest00980=SafeText'>BenchmarkTest00980</a></li>
<li><a href='deserialization-00/BenchmarkTest00981.html?BenchmarkTest00981=SafeText'>BenchmarkTest00981</a></li>
<li><a href='deserialization-00/BenchmarkTest01090.html?BenchmarkTest01090=SafeText'>BenchmarkTest01090</a></li>
<li><a href='deserialization-00/BenchmarkTest01092.html?BenchmarkTest01092=SafeText'>BenchmarkTest01092</a></li>
<li><a href='deserialization-00/BenchmarkTest01093.html?BenchmarkTest01093=SafeText'>BenchmarkTest01093</a></li>
<li><a href='deserialization-00/BenchmarkTest01094.html?BenchmarkTest01094=SafeText'>BenchmarkTest01094</a></li>
<li><a href='deserialization-00/BenchmarkTest01165.html?BenchmarkTest01165=SafeText'>BenchmarkTest01165</a></li>
<li><a href='deserialization-00/BenchmarkTest01170.html?BenchmarkTest01170=SafeText'>BenchmarkTest01170</a></li>
<li><a href='deserialization-00/BenchmarkTest01171.html?BenchmarkTest01171=SafeText'>BenchmarkTest01171</a></li>
<li><a href='deserialization-00/BenchmarkTest01172.html?BenchmarkTest01172=SafeText'>BenchmarkTest01172</a></li>
<li><a href='deserialization-00/BenchmarkTest01255.html?BenchmarkTest01255=SafeText'>BenchmarkTest01255</a></li>
<li><a href='deserialization-00/BenchmarkTest01256.html?BenchmarkTest01256=SafeText'>BenchmarkTest01256</a></li>
<li><a href='deserialization-00/BenchmarkTest01257.html?BenchmarkTest01257=SafeText'>BenchmarkTest01257</a></li>
<li><a href='deserialization-00/BenchmarkTest01258.html?BenchmarkTest01258=SafeText'>BenchmarkTest01258</a></li>
<li><a href='deserialization-00/BenchmarkTest01260.html?BenchmarkTest01260=SafeText'>BenchmarkTest01260</a></li>
<li><a href='deserialization-00/BenchmarkTest01261.html?BenchmarkTest01261=SafeText'>BenchmarkTest01261</a></li>
<li><a href='deserialization-00/BenchmarkTest01262.html?BenchmarkTest01262=SafeText'>BenchmarkTest01262</a></li>
<li><a href='deserialization-00/BenchmarkTest01271.html?BenchmarkTest01271=SafeText'>BenchmarkTest01271</a></li>
<li><a href='deserialization-00/BenchmarkTest01310.html?BenchmarkTest01310=SafeText'>BenchmarkTest01310</a></li>
				<!-- @@LINK@@ -->
			</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
