<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OWASP Benchmark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/benchmark/css/normalize.css">
  <link rel="stylesheet" href="/benchmark/css/skeleton.css">
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  
  <script src="/benchmark/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="twelve columns">
				<h1>OWASP Benchmark Unchecked Redirect Test Case Index</h1>
			</div>
		</div>
		<div class="row">
			<div class="eight columns">
			<ul>
<li><a href='redirect-00/BenchmarkTest00073.html?BenchmarkTest00073=SafeText'>BenchmarkTest00073</a></li>
<li><a href='redirect-00/BenchmarkTest00074.html?BenchmarkTest00074=SafeText'>BenchmarkTest00074</a></li>
<li><a href='redirect-00/BenchmarkTest00165.html?BenchmarkTest00165=SafeText'>BenchmarkTest00165</a></li>
<li><a href='redirect-00/BenchmarkTest00166.html?BenchmarkTest00166=SafeText'>BenchmarkTest00166</a></li>
<li><a href='redirect-00/BenchmarkTest00167.html?BenchmarkTest00167=SafeText'>BenchmarkTest00167</a></li>
<li><a href='redirect-00/BenchmarkTest00168.html?BenchmarkTest00168=SafeText'>BenchmarkTest00168</a></li>
<li><a href='redirect-00/BenchmarkTest00273.html?BenchmarkTest00273=SafeText'>BenchmarkTest00273</a></li>
<li><a href='redirect-00/BenchmarkTest00358.html?BenchmarkTest00358=SafeText'>BenchmarkTest00358</a></li>
<li><a href='redirect-00/BenchmarkTest00359.html?BenchmarkTest00359=SafeText'>BenchmarkTest00359</a></li>
<li><a href='redirect-00/BenchmarkTest00360.html?BenchmarkTest00360=SafeText'>BenchmarkTest00360</a></li>
<li><a href='redirect-00/BenchmarkTest00361.html?BenchmarkTest00361=SafeText'>BenchmarkTest00361</a></li>
<li><a href='redirect-00/BenchmarkTest00450.html?BenchmarkTest00450=SafeText'>BenchmarkTest00450</a></li>
<li><a href='redirect-00/BenchmarkTest00534.html?BenchmarkTest00534=SafeText'>BenchmarkTest00534</a></li>
<li><a href='redirect-00/BenchmarkTest00535.html?BenchmarkTest00535=SafeText'>BenchmarkTest00535</a></li>
<li><a href='redirect-00/BenchmarkTest00536.html?BenchmarkTest00536=SafeText'>BenchmarkTest00536</a></li>
<li><a href='redirect-00/BenchmarkTest00537.html?BenchmarkTest00537=SafeText'>BenchmarkTest00537</a></li>
<li><a href='redirect-00/BenchmarkTest00633.html?BenchmarkTest00633=SafeText'>BenchmarkTest00633</a></li>
<li><a href='redirect-00/BenchmarkTest00634.html?BenchmarkTest00634=SafeText'>BenchmarkTest00634</a></li>
<li><a href='redirect-00/BenchmarkTest00635.html?BenchmarkTest00635=SafeText'>BenchmarkTest00635</a></li>
<li><a href='redirect-00/BenchmarkTest00636.html?BenchmarkTest00636=SafeText'>BenchmarkTest00636</a></li>
<li><a href='redirect-00/BenchmarkTest00637.html?BenchmarkTest00637=SafeText'>BenchmarkTest00637</a></li>
<li><a href='redirect-00/BenchmarkTest00691.html?BenchmarkTest00691=SafeText'>BenchmarkTest00691</a></li>
<li><a href='redirect-00/BenchmarkTest00692.html?BenchmarkTest00692=SafeText'>BenchmarkTest00692</a></li>
<li><a href='redirect-00/BenchmarkTest00693.html?BenchmarkTest00693=SafeText'>BenchmarkTest00693</a></li>
<li><a href='redirect-00/BenchmarkTest00694.html?BenchmarkTest00694=SafeText'>BenchmarkTest00694</a></li>
<li><a href='redirect-00/BenchmarkTest00775.html?BenchmarkTest00775=SafeText'>BenchmarkTest00775</a></li>
<li><a href='redirect-00/BenchmarkTest00776.html?BenchmarkTest00776=SafeText'>BenchmarkTest00776</a></li>
<li><a href='redirect-00/BenchmarkTest00867.html?BenchmarkTest00867=SafeText'>BenchmarkTest00867</a></li>
<li><a href='redirect-00/BenchmarkTest00968.html?BenchmarkTest00968=SafeText'>BenchmarkTest00968</a></li>
<li><a href='redirect-00/BenchmarkTest00969.html?BenchmarkTest00969=SafeText'>BenchmarkTest00969</a></li>
<li><a href='redirect-00/BenchmarkTest00970.html?BenchmarkTest00970=SafeText'>BenchmarkTest00970</a></li>
<li><a href='redirect-00/BenchmarkTest00971.html?BenchmarkTest00971=SafeText'>BenchmarkTest00971</a></li>
<li><a href='redirect-00/BenchmarkTest00972.html?BenchmarkTest00972=SafeText'>BenchmarkTest00972</a></li>
<li><a href='redirect-00/BenchmarkTest01074.html?BenchmarkTest01074=SafeText'>BenchmarkTest01074</a></li>
<li><a href='redirect-00/BenchmarkTest01075.html?BenchmarkTest01075=SafeText'>BenchmarkTest01075</a></li>
<li><a href='redirect-00/BenchmarkTest01076.html?BenchmarkTest01076=SafeText'>BenchmarkTest01076</a></li>
<li><a href='redirect-00/BenchmarkTest01077.html?BenchmarkTest01077=SafeText'>BenchmarkTest01077</a></li>
<li><a href='redirect-00/BenchmarkTest01151.html?BenchmarkTest01151=SafeText'>BenchmarkTest01151</a></li>
<li><a href='redirect-00/BenchmarkTest01152.html?BenchmarkTest01152=SafeText'>BenchmarkTest01152</a></li>
<li><a href='redirect-00/BenchmarkTest01153.html?BenchmarkTest01153=SafeText'>BenchmarkTest01153</a></li>
<li><a href='redirect-00/BenchmarkTest01154.html?BenchmarkTest01154=SafeText'>BenchmarkTest01154</a></li>
<li><a href='redirect-00/BenchmarkTest01155.html?BenchmarkTest01155=SafeText'>BenchmarkTest01155</a></li>
<li><a href='redirect-00/BenchmarkTest01245.html?BenchmarkTest01245=SafeText'>BenchmarkTest01245</a></li>
<li><a href='redirect-00/BenchmarkTest01246.html?BenchmarkTest01246=SafeText'>BenchmarkTest01246</a></li>
<li><a href='redirect-00/BenchmarkTest01247.html?BenchmarkTest01247=SafeText'>BenchmarkTest01247</a></li>
<li><a href='redirect-00/BenchmarkTest01266.html?BenchmarkTest01266=SafeText'>BenchmarkTest01266</a></li>
<li><a href='redirect-00/BenchmarkTest01292.html?BenchmarkTest01292=SafeText'>BenchmarkTest01292</a></li>
<li><a href='redirect-00/BenchmarkTest01304.html?BenchmarkTest01304=SafeText'>BenchmarkTest01304</a></li>
<li><a href='redirect-00/BenchmarkTest01308.html?BenchmarkTest01308=SafeText'>BenchmarkTest01308</a></li>
				<!-- @@LINK@@ -->
			</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
