<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OWASP Benchmark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/benchmark/css/normalize.css">
  <link rel="stylesheet" href="/benchmark/css/skeleton.css">
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  
  <script src="/benchmark/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="twelve columns">
				<h1>OWASP Benchmark XSS (Cross-Site Scripting) Test Case Index</h1>
			</div>
		</div>
		<div class="row">
			<div class="eight columns">
			<ul>
<li><a href='xss-00/BenchmarkTest00086.html?BenchmarkTest00086=SafeText'>BenchmarkTest00086</a></li>
<li><a href='xss-00/BenchmarkTest00087.html?BenchmarkTest00087=SafeText'>BenchmarkTest00087</a></li>
<li><a href='xss-00/BenchmarkTest00100.html?BenchmarkTest00100=SafeText'>BenchmarkTest00100</a></li>
<li><a href='xss-00/BenchmarkTest00101.html?BenchmarkTest00101=SafeText'>BenchmarkTest00101</a></li>
<li><a href='xss-00/BenchmarkTest00162.html?BenchmarkTest00162=SafeText'>BenchmarkTest00162</a></li>
<li><a href='xss-00/BenchmarkTest00163.html?BenchmarkTest00163=SafeText'>BenchmarkTest00163</a></li>
<li><a href='xss-00/BenchmarkTest00184.html?BenchmarkTest00184=SafeText'>BenchmarkTest00184</a></li>
<li><a href='xss-00/BenchmarkTest00207.html?BenchmarkTest00207=SafeText'>BenchmarkTest00207</a></li>
<li><a href='xss-00/BenchmarkTest00208.html?BenchmarkTest00208=SafeText'>BenchmarkTest00208</a></li>
<li><a href='xss-00/BenchmarkTest00209.html?BenchmarkTest00209=SafeText'>BenchmarkTest00209</a></li>
<li><a href='xss-00/BenchmarkTest00210.html?BenchmarkTest00210=SafeText'>BenchmarkTest00210</a></li>
<li><a href='xss-00/BenchmarkTest00211.html?BenchmarkTest00211=SafeText'>BenchmarkTest00211</a></li>
<li><a href='xss-00/BenchmarkTest00212.html?BenchmarkTest00212=SafeText'>BenchmarkTest00212</a></li>
<li><a href='xss-00/BenchmarkTest00213.html?BenchmarkTest00213=SafeText'>BenchmarkTest00213</a></li>
<li><a href='xss-00/BenchmarkTest00214.html?BenchmarkTest00214=SafeText'>BenchmarkTest00214</a></li>
<li><a href='xss-00/BenchmarkTest00269.html?BenchmarkTest00269=SafeText'>BenchmarkTest00269</a></li>
<li><a href='xss-00/BenchmarkTest00270.html?BenchmarkTest00270=SafeText'>BenchmarkTest00270</a></li>
<li><a href='xss-00/BenchmarkTest00283.html?BenchmarkTest00283=SafeText'>BenchmarkTest00283</a></li>
<li><a href='xss-00/BenchmarkTest00284.html?BenchmarkTest00284=SafeText'>BenchmarkTest00284</a></li>
<li><a href='xss-00/BenchmarkTest00304.html?BenchmarkTest00304=SafeText'>BenchmarkTest00304</a></li>
<li><a href='xss-00/BenchmarkTest00305.html?BenchmarkTest00305=SafeText'>BenchmarkTest00305</a></li>
<li><a href='xss-00/BenchmarkTest00306.html?BenchmarkTest00306=SafeText'>BenchmarkTest00306</a></li>
<li><a href='xss-00/BenchmarkTest00307.html?BenchmarkTest00307=SafeText'>BenchmarkTest00307</a></li>
<li><a href='xss-00/BenchmarkTest00308.html?BenchmarkTest00308=SafeText'>BenchmarkTest00308</a></li>
<li><a href='xss-00/BenchmarkTest00354.html?BenchmarkTest00354=SafeText'>BenchmarkTest00354</a></li>
<li><a href='xss-00/BenchmarkTest00386.html?BenchmarkTest00386=SafeText'>BenchmarkTest00386</a></li>
<li><a href='xss-00/BenchmarkTest00387.html?BenchmarkTest00387=SafeText'>BenchmarkTest00387</a></li>
<li><a href='xss-00/BenchmarkTest00388.html?BenchmarkTest00388=SafeText'>BenchmarkTest00388</a></li>
<li><a href='xss-00/BenchmarkTest00389.html?BenchmarkTest00389=SafeText'>BenchmarkTest00389</a></li>
<li><a href='xss-00/BenchmarkTest00447.html?BenchmarkTest00447=SafeText'>BenchmarkTest00447</a></li>
<li><a href='xss-00/BenchmarkTest00448.html?BenchmarkTest00448=SafeText'>BenchmarkTest00448</a></li>
<li><a href='xss-00/BenchmarkTest00468.html?BenchmarkTest00468=SafeText'>BenchmarkTest00468</a></li>
<li><a href='xss-00/BenchmarkTest00469.html?BenchmarkTest00469=SafeText'>BenchmarkTest00469</a></li>
<li><a href='xss-00/BenchmarkTest00478.html?BenchmarkTest00478=NotSafe<script>alert(123)</script>Text'>BenchmarkTest00478</a></li>
<li><a href='xss-00/BenchmarkTest00479.html?BenchmarkTest00479=NotSafe<script>alert(123)</script>Text'>BenchmarkTest00479</a></li>
<li><a href='xss-00/BenchmarkTest00480.html?BenchmarkTest00480=NotSafe<script>alert(123)</script>Text'>BenchmarkTest00480</a></li>
<li><a href='xss-00/BenchmarkTest00575.html?BenchmarkTest00575=NotSafe<script>alert(123)</script>Text'>BenchmarkTest00575</a></li>
<li><a href='xss-00/BenchmarkTest00576.html?BenchmarkTest00576=SafeText'>BenchmarkTest00576</a></li>
<li><a href='xss-00/BenchmarkTest00577.html?BenchmarkTest00577=SafeText'>BenchmarkTest00577</a></li>
<li><a href='xss-00/BenchmarkTest00578.html?BenchmarkTest00578=SafeText'>BenchmarkTest00578</a></li>
<li><a href='xss-00/BenchmarkTest00579.html?BenchmarkTest00579=NotSafe<script>alert(123)</script>Text'>BenchmarkTest00579</a></li>
<li><a href='xss-00/BenchmarkTest00580.html?BenchmarkTest00580=NotSafe<script>alert(123)</script>Text'>BenchmarkTest00580</a></li>
<li><a href='xss-00/BenchmarkTest00581.html?BenchmarkTest00581=NotSafe<script>alert(123)</script>Text'>BenchmarkTest00581</a></li>
<li><a href='xss-00/BenchmarkTest00582.html?BenchmarkTest00582=NotSafe<script>alert(123)</script>Text'>BenchmarkTest00582</a></li>
<li><a href='xss-00/BenchmarkTest00583.html?BenchmarkTest00583=NotSafe<script>alert(123)</script>Text'>BenchmarkTest00583</a></li>
<li><a href='xss-00/BenchmarkTest00632.html?BenchmarkTest00632=SafeText'>BenchmarkTest00632</a></li>
<li><a href='xss-00/BenchmarkTest00703.html?BenchmarkTest00703=SafeText'>BenchmarkTest00703</a></li>
<li><a href='xss-00/BenchmarkTest00704.html?BenchmarkTest00704=SafeText'>BenchmarkTest00704</a></li>
<li><a href='xss-00/BenchmarkTest00718.html?BenchmarkTest00718=SafeText'>BenchmarkTest00718</a></li>
<li><a href='xss-00/BenchmarkTest00719.html?BenchmarkTest00719=SafeText'>BenchmarkTest00719</a></li>
<li><a href='xss-00/BenchmarkTest00720.html?BenchmarkTest00720=SafeText'>BenchmarkTest00720</a></li>
<li><a href='xss-00/BenchmarkTest00721.html?BenchmarkTest00721=SafeText'>BenchmarkTest00721</a></li>
<li><a href='xss-00/BenchmarkTest00767.html?BenchmarkTest00767=SafeText'>BenchmarkTest00767</a></li>
<li><a href='xss-00/BenchmarkTest00768.html?BenchmarkTest00768=SafeText'>BenchmarkTest00768</a></li>
<li><a href='xss-00/BenchmarkTest00797.html?BenchmarkTest00797=SafeText'>BenchmarkTest00797</a></li>
<li><a href='xss-00/BenchmarkTest00798.html?BenchmarkTest00798=SafeText'>BenchmarkTest00798</a></li>
<li><a href='xss-00/BenchmarkTest00799.html?BenchmarkTest00799=SafeText'>BenchmarkTest00799</a></li>
<li><a href='xss-00/BenchmarkTest00800.html?BenchmarkTest00800=SafeText'>BenchmarkTest00800</a></li>
<li><a href='xss-00/BenchmarkTest00815.html?BenchmarkTest00815=SafeText'>BenchmarkTest00815</a></li>
<li><a href='xss-00/BenchmarkTest00816.html?BenchmarkTest00816=SafeText'>BenchmarkTest00816</a></li>
<li><a href='xss-00/BenchmarkTest00817.html?BenchmarkTest00817=SafeText'>BenchmarkTest00817</a></li>
<li><a href='xss-00/BenchmarkTest00864.html?BenchmarkTest00864=SafeText'>BenchmarkTest00864</a></li>
<li><a href='xss-00/BenchmarkTest00878.html?BenchmarkTest00878=SafeText'>BenchmarkTest00878</a></li>
<li><a href='xss-00/BenchmarkTest00879.html?BenchmarkTest00879=SafeText'>BenchmarkTest00879</a></li>
<li><a href='xss-00/BenchmarkTest00880.html?BenchmarkTest00880=SafeText'>BenchmarkTest00880</a></li>
<li><a href='xss-00/BenchmarkTest00895.html?BenchmarkTest00895=SafeText'>BenchmarkTest00895</a></li>
<li><a href='xss-00/BenchmarkTest00896.html?BenchmarkTest00896=SafeText'>BenchmarkTest00896</a></li>
<li><a href='xss-00/BenchmarkTest00897.html?BenchmarkTest00897=SafeText'>BenchmarkTest00897</a></li>
<li><a href='xss-00/BenchmarkTest00898.html?BenchmarkTest00898=SafeText'>BenchmarkTest00898</a></li>
<li><a href='xss-00/BenchmarkTest00899.html?BenchmarkTest00899=SafeText'>BenchmarkTest00899</a></li>
<li><a href='xss-00/BenchmarkTest00963.html?BenchmarkTest00963=SafeText'>BenchmarkTest00963</a></li>
<li><a href='xss-00/BenchmarkTest00964.html?BenchmarkTest00964=SafeText'>BenchmarkTest00964</a></li>
<li><a href='xss-00/BenchmarkTest00965.html?BenchmarkTest00965=SafeText'>BenchmarkTest00965</a></li>
<li><a href='xss-00/BenchmarkTest00966.html?BenchmarkTest00966=SafeText'>BenchmarkTest00966</a></li>
<li><a href='xss-00/BenchmarkTest00982.html?BenchmarkTest00982=SafeText'>BenchmarkTest00982</a></li>
<li><a href='xss-00/BenchmarkTest00994.html?BenchmarkTest00994=SafeText'>BenchmarkTest00994</a></li>
<li><a href='xss-00/BenchmarkTest00995.html?BenchmarkTest00995=SafeText'>BenchmarkTest00995</a></li>
<li><a href='xss-00/BenchmarkTest00996.html?BenchmarkTest00996=SafeText'>BenchmarkTest00996</a></li>
<li><a href='xss-00/BenchmarkTest00997.html?BenchmarkTest00997=SafeText'>BenchmarkTest00997</a></li>
<li><a href='xss-00/BenchmarkTest00998.html?BenchmarkTest00998=SafeText'>BenchmarkTest00998</a></li>
<li><a href='xss-01/BenchmarkTest00999.html?BenchmarkTest00999=SafeText'>BenchmarkTest00999</a></li>
<li><a href='xss-01/BenchmarkTest01000.html?BenchmarkTest01000=SafeText'>BenchmarkTest01000</a></li>
<li><a href='xss-01/BenchmarkTest01001.html?BenchmarkTest01001=SafeText'>BenchmarkTest01001</a></li>
<li><a href='xss-01/BenchmarkTest01002.html?BenchmarkTest01002=SafeText'>BenchmarkTest01002</a></li>
<li><a href='xss-01/BenchmarkTest01003.html?BenchmarkTest01003=SafeText'>BenchmarkTest01003</a></li>
<li><a href='xss-01/BenchmarkTest01004.html?BenchmarkTest01004=SafeText'>BenchmarkTest01004</a></li>
<li><a href='xss-01/BenchmarkTest01068.html?BenchmarkTest01068=SafeText'>BenchmarkTest01068</a></li>
<li><a href='xss-01/BenchmarkTest01069.html?BenchmarkTest01069=SafeText'>BenchmarkTest01069</a></li>
<li><a href='xss-01/BenchmarkTest01070.html?BenchmarkTest01070=SafeText'>BenchmarkTest01070</a></li>
<li><a href='xss-01/BenchmarkTest01105.html?BenchmarkTest01105=SafeText'>BenchmarkTest01105</a></li>
<li><a href='xss-01/BenchmarkTest01106.html?BenchmarkTest01106=SafeText'>BenchmarkTest01106</a></li>
<li><a href='xss-01/BenchmarkTest01107.html?BenchmarkTest01107=SafeText'>BenchmarkTest01107</a></li>
<li><a href='xss-01/BenchmarkTest01108.html?BenchmarkTest01108=SafeText'>BenchmarkTest01108</a></li>
<li><a href='xss-01/BenchmarkTest01109.html?BenchmarkTest01109=SafeText'>BenchmarkTest01109</a></li>
<li><a href='xss-01/BenchmarkTest01147.html?BenchmarkTest01147=SafeText'>BenchmarkTest01147</a></li>
<li><a href='xss-01/BenchmarkTest01148.html?BenchmarkTest01148=SafeText'>BenchmarkTest01148</a></li>
<li><a href='xss-01/BenchmarkTest01173.html?BenchmarkTest01173=SafeText'>BenchmarkTest01173</a></li>
<li><a href='xss-01/BenchmarkTest01184.html?BenchmarkTest01184=SafeText'>BenchmarkTest01184</a></li>
<li><a href='xss-01/BenchmarkTest01185.html?BenchmarkTest01185=SafeText'>BenchmarkTest01185</a></li>
<li><a href='xss-01/BenchmarkTest01186.html?BenchmarkTest01186=SafeText'>BenchmarkTest01186</a></li>
<li><a href='xss-01/BenchmarkTest01187.html?BenchmarkTest01187=SafeText'>BenchmarkTest01187</a></li>
<li><a href='xss-01/BenchmarkTest01188.html?BenchmarkTest01188=SafeText'>BenchmarkTest01188</a></li>
<li><a href='xss-01/BenchmarkTest01189.html?BenchmarkTest01189=SafeText'>BenchmarkTest01189</a></li>
<li><a href='xss-01/BenchmarkTest01268.html?BenchmarkTest01268=SafeText'>BenchmarkTest01268</a></li>
<li><a href='xss-01/BenchmarkTest01299.html?BenchmarkTest01299=SafeText'>BenchmarkTest01299</a></li>
<li><a href='xss-01/BenchmarkTest01305.html?BenchmarkTest01305=SafeText'>BenchmarkTest01305</a></li>
				<!-- @@LINK@@ -->
			</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
