<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <script src="/benchmark/js/jquery.min.js"></script>
  <script type="text/javascript" src="/benchmark/js/js.cookie.js"></script>
  <script src="/benchmark/js/testsuiteutils.js"></script>
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  <title>BenchmarkTest01273</title>
</head>
<body>
<form action="/benchmark/pathtraver-02/BenchmarkTest01273" method="POST" id="FormBenchmarkTest01273" autocomplete="off">
	<div><label>Please explain your answer:</label></div>
	<br>
	<div><textarea rows="4" cols="50" id="BenchmarkTest01273Area" name="BenchmarkTest01273Area"></textarea></div>
	<div><label>Any additional note for the reviewer:</label></div>
	<div><input type="text" id="answer" name="answer" ></div>
	<br>
	<div><label>An AJAX request will be sent with a parameter value 'BenchmarkTest01273' and name:</label>
	<input type="text" id="BenchmarkTest01273" name="BenchmarkTest01273" value="Filename" class="safe" ></div>
	<div><input type="button" id="login-btn" value="Login" method="submitParameterNamesForm" testcase="BenchmarkTest01273" ></div>
</form>
<div id="ajax-form-msg1"><pre><code class="prettyprint" id="code"></code></pre></div>
</body>
</html>
