<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <script src="/benchmark/js/jquery.min.js"></script>
  <script type="text/javascript" src="/benchmark/js/js.cookie.js"></script>
  <script src="/benchmark/js/testsuiteutils.js"></script>
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  <title>BenchmarkTest00483</title>
</head>
<body>
<form action="/benchmark/xxe-00/BenchmarkTest00483" method="POST" id="FormBenchmarkTest00483" autocomplete="off">
	<div><label>Please explain your answer:</label></div>
	<br>
	<div><textarea rows="4" cols="50" id="BenchmarkTest00483Area" name="BenchmarkTest00483Area"></textarea></div>
	<div><label>Any additional note for the reviewer:</label></div>
	<div><input type="text" id="answer" name="answer" ></div>
	<br>
	<div><label>An AJAX request will be sent with a header named BenchmarkTest00483 and value:</label> <input type="text" id="BenchmarkTest00483" name="BenchmarkTest00483" value="&lt;&#x3f;xml version&#x3d;&quot;1.0&quot; encoding&#x3d;&quot;UTF-8&quot; standalone&#x3d;&quot;yes&quot;&#x3f;&gt;&#xa;&#x9;&lt;test xmlns&#x3a;xsi&#x3d;&quot;http&#x3a;&#x2f;&#x2f;www.w3.org&#x2f;2001&#x2f;XMLSchema-instance&quot;&#xa;&#x9;xsi&#x3a;noNamespaceSchemaLocation&#x3d;&quot;test.xsd&quot;&gt;Hello from Venus&lt;&#x2f;test&gt;" class="safe" ></div>

	<div><input type="button" id="login-btn" value="Login" method="submitHeaderForm" testcase="BenchmarkTest00483" ></div>
</form>
<div id="ajax-form-msg1"><pre><code class="prettyprint" id="code"></code></pre></div>
</body>
</html>
